.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 0.25rem 0;
}

.about p {
	padding: 1rem 1rem;
}

.about h4 {
	font-size: 36px;
	font-weight: 100;
	font-family: var(--font-dm-serif-text-italic);
}

.about a {
	padding: 1rem 0;
}

.socials {
	display: flex;
	width: 75%;
	margin: 0 auto;
	justify-content: space-evenly;
	font-style: italic;
	border: 1px solid var(--rule-primary);
	position: relative;
}

.socials::before {
	content: 'CONTACT ME!';
	font-family: var(--font-dm-serif-text-italic);
	font-weight: 600;
	top: -10;
	left: 10;
	position: absolute;
	background: var(--background);
	padding-inline: 0.5rem;
}

.socials a {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}

.socials svg {
	margin: auto;
}

@media (max-width: 600px) {
	.about {
		padding: 0.5rem;
		width: 100%;
	}

	.about h4 {
		font-size: 24px;
	}

	.about p {
		padding: 1rem 0;
		text-align: left;
		font-size: 14px;
	}

	.socials {
		display: flex;
		width: 95%;

		position: fixed;
		bottom: 1rem;
		padding: 0 2rem;
		background: var(--background);
		z-index: 100;
	}

	.socials::before {
		border: 1px solid var(--rule-primary);
	}

	.socials a {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
	}

	.socials p {
		font-size: 14px;
	}

	.socials svg {
		margin: auto;
	}
}
