#articles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#articles > h4 {
	font-size: 36px;
	font-weight: 100;
	text-align: center;
	font-family: var(--font-dm-serif-text-italic);
	/* text-decoration: underline;
	text-decoration-thickness: 1.5px; */
}

#articles > ul {
	list-style: none;
	text-align: center;
}

.article {
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	min-height: 20rem;
}

.article img {
	width: 100%;
	height: 12.5rem;
	object-fit: cover;
	object-position: initial;
}

.article > a > h5 {
	padding-top: 0.5rem;
	font-size: 16px;
}

.article > a > h5 > span {
	font-style: italic;
	font-weight: 400;
}

.article > p {
	font-size: 14px;
}

@media (max-width: 600px) {
	#articles {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#articles > h4 {
		font-size: 24px;
	}

	#articles > ul {
		list-style: none;
	}

	.article img {
		width: 100%;

		object-fit: cover;
		object-position: initial;
	}

	.article {
		padding: 0.5rem;
		padding-bottom: 1rem;
		min-height: 10rem;
	}

	.article > a > h5 {
		font-size: 14px;
	}

	.article > a > p {
		font-style: italic;
	}

	.article > p {
		font-size: 12px;
	}
}
