.footer {
	width: 100%;
	gap: 24px;
	padding: 1%;
	height: 2rem;
}

.footer div {
	border-top: 1px solid var(--rule-primary);
}

@media (max-width: 600px) {
	.footer {
		padding: 0 3rem;
		height: 6rem;
	}
}
