.horizontalrule {
	border: none;
	border-bottom: 1px solid var(--rule-primary);
	margin: auto;
	width: 75%;
	padding-top: 1%;
	padding-bottom: 1%;
}

@media (max-width: 600px) {
	.horizontalrule {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}
}
