:root {
	--foreground: #fefefe;
	--background: #fefefe;
	--text-primary: #010101;
	--rule-primary: #010101;
}

html,
body {
	max-width: 100vw;
	min-height: 100svh;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Georgia, 'Times New Roman', Times, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
