.page {
	--background: #fefefe;
	--text-primary: #010101;
	--rule-primary: #010101;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: var(--background);
}

/* HEADER */

.masthead {
	width: 100%;
	flex-direction: column;
	padding-inline: 1.5rem;
}

.masthead h1 {
	font-size: 96px;
	font-weight: 300;
	text-align: center;
	color: var(--text-primary);
	font-family: var(--font-engravers-old-english);
}

.masthead hr {
	border: 0;
	color: var(--rule-primary);
	margin: auto;
}

.masthead hr {
	border-top: 1px solid var(--rule-primary);
	height: 1px;
}

.masthead div + hr {
	border-bottom: 2px solid var(--rule-primary);
	height: 2px;
}

.subheader {
	display: flex;
	font-size: 1em;
	align-items: center;
	justify-content: center;
	height: 1.5rem;
	width: 100%;
	color: var(--text-primary);
}

/* MAIN PAGE */

.main {
	display: flex;
	width: 100%;
	max-width: 1200px;
	justify-content: center;
	background-color: var(--foreground);
	flex-grow: 1;
}

/* FOOTER */

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	gap: 24px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	a.primary:hover {
		background: var(--button-primary-hover);
		border-color: transparent;
	}

	a.secondary:hover {
		background: var(--button-secondary-hover);
		border-color: transparent;
	}
}

@media (max-width: 600px) {
	.main {
		padding: 48px 24px;
	}

	.masthead {
		gap: 16px;
	}

	.masthead h1 {
		font-size: 32px;
		line-height: 40px;
		letter-spacing: -1.92px;
	}
}
