.page {
	--background: #fefefe;
	--text-primary: #010101;
	--rule-primary: #010101;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1400px;
	margin: auto;
	align-items: center;
	justify-content: center;
	background-color: var(--background);
}

/* MAIN PAGE */

.main {
	display: flex;
	width: 100%;

	justify-content: center;
	background-color: var(--foreground);
	flex-grow: 1;
	padding: 0 3%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	a.primary:hover {
		background: var(--button-primary-hover);
		border-color: transparent;
	}

	a.secondary:hover {
		background: var(--button-secondary-hover);
		border-color: transparent;
	}
}

@media (max-width: 600px) {
	.main {
		padding: 48px 24px;
	}

	.masthead {
		gap: 16px;
	}

	.masthead h1 {
		font-size: 32px;
		line-height: 40px;
		letter-spacing: -1.92px;
	}
}
