.page {
	--background: #fefefe;
	--text-primary: #010101;
	--rule-primary: #010101;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1400px;
	margin: auto;
	align-items: center;
	justify-content: center;
	background-color: var(--background);
}

/* MAIN PAGE */

.main {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: var(--foreground);
	flex-grow: 1;
	padding: 1%;
	gap: 0.5%;
}

.main > div + div {
	width: 20%;
	border-left: 1px solid var(--rule-primary);
}

.cover {
	flex-grow: 1;
}

.cover > img {
	width: 100%;
	height: 40%;
	object-fit: cover;
	object-position: center;
}

@media (max-width: 600px) {
	.main {
		flex-direction: column;
		justify-content: start;
		padding: 0 3%;
	}

	.main > div {
		width: 100%;
		padding: 0;
	}

	.cover {
		width: 100%;
	}

	.cover > img {
		max-height: 25rem;
		overflow: hidden;
	}
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	a.primary:hover {
		background: var(--button-primary-hover);
		border-color: transparent;
	}

	a.secondary:hover {
		background: var(--button-secondary-hover);
		border-color: transparent;
	}
}
