.page {
	--background: #fefefe;
	--text-primary: #010101;
	--rule-primary: #010101;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1350px;
	margin: auto;
	align-items: center;
	justify-content: center;
	background-color: var(--background);
}

/* MAIN PAGE */

.main {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: var(--foreground);
	color: var(--text-primary);
	flex-grow: 1;
	padding: 1%;
	gap: 1%;
}

/* TARGETS ALL OF MAINS CHILD DIVS EXCEPT THE FIRST */
.main > div + div {
	width: 30%;
	border-left: 1px solid var(--rule-primary);
	padding: 0 1%;
}

.main > div + div + div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cover {
	flex-grow: 1;
	width: 40%;
}

.cover > img {
	width: 100%;
	height: 25rem;
	object-fit: cover;
	object-position: center;
	position: relative;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section > h4 {
	font-size: 40px;
	font-style: italic;
	font-weight: 500;
}

.contact {
	display: flex;
	flex-direction: column;
}

.socials {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0.5rem;
}

/* #articles {

} */

@media (max-width: 600px) {
	.main {
		flex-direction: column;
		justify-content: start;
		padding: 0 3%;
	}

	.main > div + div {
		width: 100%;
		padding: 0;
		border-left: none;
	}

	.cover {
		width: 100%;
	}

	.cover > img {
		max-height: 15rem;
		overflow: hidden;
	}

	.section > h4 {
		font-size: 24px;
	}
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	a.primary:hover {
		background: var(--button-primary-hover);
		border-color: transparent;
	}

	a.secondary:hover {
		background: var(--button-secondary-hover);
		border-color: transparent;
	}
}
