/* MAIN PAGE */

.main {
	width: 100%;
	max-width: 1500px;
	background-color: var(--foreground);
	color: var(--text-primary);
	display: flex;
	justify-content: space-around;
	padding: 1%;
	gap: 1%;
	margin: auto;
}

.cover {
	flex-grow: 1;
	width: 40%;
	position: sticky;
	align-self: flex-start;
	top: 4rem;
}

.cover > img {
	width: 100%;
	height: 25rem;
	object-fit: cover;
	object-position: center;
}

.main > section {
	width: 26%;
	border-left: 1px solid var(--rule-primary);
	padding: 0 1%;
	top: 1rem;
}

@media (max-width: 834px) {
	.main {
		flex-wrap: wrap;
	}

	.cover {
		width: 100%;
		position: relative;
		padding: 2rem;
		padding-top: 0;
		top: 1rem;
	}

	.main > section {
		width: calc(50% - 1rem);
		top: 0;
	}

	.main > section:nth-child(2) {
		border-left: none;
	}
}

@media (max-width: 600px) {
	.main {
		flex-direction: column;
		justify-content: start;
		padding: 0 3%;
	}

	.main > section {
		width: 100%;
		padding: 0;
		border-left: none;
	}

	.cover {
		width: 100%;
		position: unset;
	}

	.cover > img {
		max-height: 15rem;
		overflow: hidden;
	}

	.section > h4 {
		font-size: 24px;
	}

	.section > p {
		padding: 0.5rem 0;
		font-size: 14px;
	}
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	a.primary:hover {
		background: var(--button-primary-hover);
		border-color: transparent;
	}

	a.secondary:hover {
		background: var(--button-secondary-hover);
		border-color: transparent;
	}
}
